{% extends 'base.html' %}

{% block content %}
{% include 'navbar_buyer.html' %}

<div class="container mx-auto pt-0 px-4"> 
    <h2 class="text-2xl font-bold mb-6">{{ product.product_name }} Stores</h2>
    
    {% if sellers %}
        <div class="space-y-4">
            {% for store in sellers %}
            <div class="border p-4 rounded-md flex justify-between items-center">
                <div>
                    <h3 class="font-bold text-lg">{{ store.store_name }}</h3>
                    <p class="text-sm text-gray-500">{{ store.address }}, {{ store.village }}, {{ store.subdistrict }}, {{ store.city }}</p>
                </div>
                <a href="{{ store.maps }}" target="_blank" class="bg-blue-500 hover:bg-blue-600 text-white rounded-full p-2 transition duration-300 shadow-md">
                    View on Map
                </a>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-black-500">No stores found selling this product.</p>
    {% endif %}
</div>

{% endblock content %}
