{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Articles</title>
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
{% endblock meta %}
{% block content %}
{% include 'navbar_buyer.html' %}
<div class="flex flex-col content-center items-center w-full bg-gray-200 min-h-screen py-28 lg:py-20 bg-red-700">
    <!-- Judul Halaman -->
    <h1 class="text-3xl sm:text-4xl font-bold text-white mb-8 text-center">Articles</h1>
    
    <!-- Tombol Add Article -->
    <a href="{% url 'article:create_article' %}"
        class="mb-6 px-6 py-2 rounded-full bg-blue-600 text-white font-semibold shadow-md hover:bg-blue-700 transition-colors duration-200">
        + Add New Article
    </a>
    
    <!-- Tombol Explore dan My Articles -->
    <div class="flex  gap-4 justify-center items-center w-full mb-6 ">
        <!-- Explore Button -->
        <button id="exploreBtn" class="px-4 py-2 text-lg sm:text-xl font-medium underline-offset-8 transition-all duration-200 hover:underline text-white">
            Explore
        </button>
        <!-- My Articles Button -->
        <button id="myArticleBtn" class="px-4 py-2 text-lg sm:text-xl font-medium underline-offset-8 transition-all duration-200 hover:underline text-white">
            My Articles
        </button>
    </div>

    <!-- Kontainer untuk Article Cards -->
    <div id="article_entry_cards" class="flex flex-col gap-3 justify-center align-center w-11/12 sm:w-10/12 lg:w-8/12 px-4">
        <!-- Articles akan dimuat di sini secara dinamis melalui JavaScript -->
    </div>
</div>
{% include 'footer_buyer.html' %}


<script>
    // Save state tab yang ada
    function saveState(selectedTab) {
        localStorage.setItem('selectedTab', selectedTab);
    }

    // Mengambil state dari localstorage
    function loadState() {
        return localStorage.getItem('selectedTab');
    }

    // Menampilkan tab yang sesuai
    function displayTab(selectedTab) {
        const exploreBtn = document.getElementById('exploreBtn');
        const myArticleBtn = document.getElementById('myArticleBtn');

        if (selectedTab === 'myArticles') {
            myArticleBtn.classList.add('underline');
            exploreBtn.classList.remove('underline');
            refreshArticles()
        } else {
            exploreBtn.classList.add('underline');
            myArticleBtn.classList.remove('underline');
            refreshArticles();
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        const savedState = loadState();
        if (savedState) {
            displayTab(savedState);
        } else {
            displayTab('explore'); 
        }

    
        document.getElementById('exploreBtn').addEventListener('click', function() {
            saveState('explore');
            displayTab('explore');
        });

        document.getElementById('myArticleBtn').addEventListener('click', function() {
            saveState('myArticles');
            displayTab('myArticles');
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        const exploreBtn = document.getElementById('exploreBtn');
        const myArticleBtn = document.getElementById('myArticleBtn');
        exploreBtn.addEventListener('click', function() {
            exploreBtn.classList.add('underline');
            myArticleBtn.classList.remove('underline');
            myArticleBtn.classList.add('text-gray-500');
            exploreBtn.classList.remove('text-gray-500');
            refreshArticles()
        });

        myArticleBtn.addEventListener('click', function() {
            myArticleBtn.classList.add('underline');
            exploreBtn.classList.remove('underline');
            exploreBtn.classList.add('text-gray-500');
            myArticleBtn.classList.remove('text-gray-500');
            refreshArticles()
        });
    });

    async function getAllArticles(params) {
        return fetch("{% url 'article:json_all_article' %}").then(((res) => res.json()))
    }

    async function getUserArticles(params) {
        return fetch("{% url 'article:json_user_article' %}").then(((res) => res.json()))
    }

    async function refreshArticles() {
    
    document.getElementById("article_entry_cards").innerHTML = "";
    document.getElementById("article_entry_cards").className = "";
    const myArticleBtn = document.getElementById('myArticleBtn');
    let isUser = myArticleBtn.classList.contains('underline');
    let articleEntries;
    if(isUser) {
        articleEntries = await getUserArticles()
    } else {
        articleEntries = await getAllArticles();
    }
    console.log(articleEntries)
    let htmlString = "";
    let classNameString = "";

    if (articleEntries.length === 0) {
        classNameString = "flex flex-col items-center justify-center p-6";
        htmlString = `
            <img src="{% static 'image/not-found.webp' %}" alt="Not Found" class="w-32 h-32 mb-4"/>
            <p class="text-center text-white mt-4">There are no articles yet. Why not
                <a href="{% url 'article:create_article' %}" class="text-blue-400 hover:text-blue-500 hover:underline">create one now?</a>
            </p>
        `;
    } else {
        classNameString = "flex flex-col justify-center items-center gap-6 w-10/12 mt-6 px-4"


        articleEntries.forEach((article) => {
            const userProfPic = DOMPurify.sanitize(article.user.profilepicture);
            const userDisplayName = DOMPurify.sanitize(article.user.displayname);
            const userNationality = DOMPurify.sanitize(article.user.nationality);
            const articleTime = DOMPurify.sanitize(article.time);
            const articleID = DOMPurify.sanitize(article.id);
            const articleTitle = DOMPurify.sanitize(article.title);
            const articleImage = DOMPurify.sanitize(article.img);
            const articleText = DOMPurify.sanitize(article.text);
            htmlString += `
            <div class="flex flex-col justify-between p-6 rounded-lg bg-white shadow-md border border-gray-200 hover:shadow-xl transition-shadow duration-300 gap-4 w-5/6">
                <!-- Header Card dengan Info User -->
                <div class="flex md:flex-row flex-col items-start md:items-center justify-start gap-5 w-full">
                    
                        <!-- Foto Profil -->
                        <img src="${userProfPic}" alt="" class="h-9 w-9 rounded-full object-cover">
                        
                        <!-- Display Name dan Nationality -->
                        <div class="flex flex-col">
                            <!-- Display Name -->
                            <p class="text-gray-700 font-semibold"> ${userDisplayName}</p>
                            <!-- Nationality -->
                            <p class="text-sm text-gray-500">${userNationality}</p>
                        </div>
                        
                        <!-- Waktu Publikasi -->
                        <p class="text-sm text-gray-500 md:ml-auto">${articleTime}</p>
                    
`
            if(isUser) {
                htmlString+= `
                <div class="flex flex-row justify-end gap-3">
                    <a href="edit/${articleID}"
                        class="px-4 py-2 rounded-md bg-blue-500 text-white text-sm font-semibold hover:bg-blue-600 transition-colors duration-200">
                        Edit
                    </a>
                    <a href="delete/${articleID}"
                        class="px-4 py-2 rounded-md bg-red-500 text-white text-sm font-semibold hover:bg-red-600 transition-colors duration-200">
                        Delete
                    </a>
                </div>
                `
            }
            htmlString+=`
                </div>
                
                <!-- Konten Artikel -->
                <div class="flex flex-col gap-3">
                    <p class="font-bold text-lg text-gray-900 text-center">${articleTitle}</p>
                    <img src="${articleImage}" alt="">
                    <p class="text-gray-800 break-words whitespace-pre-line text-justify">
                        ${articleText}
                    </p>
                </div>
            </div>
            `;
        });
    }

    document.getElementById("article_entry_cards").className = classNameString;
    document.getElementById("article_entry_cards").innerHTML = htmlString;
}
refreshArticles()
</script>
{% endblock content %}