<nav class="fixed flex w-screen border-b border-gray-300 bg-white shadow-lg z-10 p-3 justify-between items-center px-10">
    <!-- Logo atau Nama Website -->
    <p class="text-2xl font-bold text-red-700">
        OlehBali<span class="text-gray-700">.</span>
    </p>
    
    <!-- Links Menu -->
    <div class="flex items-center gap-8">
        
        <a href="{% url 'main:show_main' %}" class="flex items-center text-gray-700 hover:text-red-700 transition-colors duration-200">
            Home
        </a>
        
        <a href="{% url 'article:show_articles' %}" class="flex items-center text-gray-700 hover:text-red-700 transition-colors duration-200">
    
            Articles
        </a>
        
        <a href="" class="flex items-center text-gray-700 hover:text-red-700 transition-colors duration-200">
            Catalog
        </a>
        
        <a href="" class="flex items-center text-gray-700 hover:text-red-700 transition-colors duration-200">
            See Stores
        </a>
        
        <a href="" class="flex items-center text-gray-700 hover:text-red-700 transition-colors duration-200">
            Wishlist
        </a>
        
        <a href="" class="flex items-center text-gray-700 hover:text-red-700 transition-colors duration-200">
            Profile
        </a>
        
        <a href="{% url 'main:logout_user' %}" class="flex items-center text-gray-700 hover:text-red-700 transition-colors duration-200">
            Logout
        </a>
    </div>
</nav>
