<nav class="fixed flex w-screen border-b border-gray-500 bg-white z-10 p-2 justify-between px-10">
    <p><strong class="">OlehBali</strong></p>
    <div class="flex gap-5">
        <a href="" class="hover:underline ">Home</a>
        <a href="" class="hover:underline ">Articles</a>
        <a href="" class="hover:underline ">Catalog</a>
        <a href="" class="hover:underline ">See Stores</a>
        <a href="" class="hover:underline ">Wishlist</a>
        <a href="" class="hover:underline ">Profile</a>
        <a href="{% url 'main:logout_user' %}" class="hover:underline ">Logout</a>
    </div>
</nav>