{% extends 'base.html' %}
{% block meta %}
<title>Reviews</title>
{% endblock meta %}

{% block content %}
{% include 'navbar_buyer.html' %}

<div class="py-20 bg-white">
    <h1 class="text-4xl font-bold text-red-600 text-center mb-10 pt-28 md:pt-20">Review</h1>

    <div class="text-center mb-8">
        <a href="{% url 'review:create_review' product.pk %}" class="bg-red-600 text-white px-4 py-2 rounded-md hover:bg-red-500 transition duration-300">
            Add Review
        </a>
    </div>

    <!-- Container untuk review -->
    <div class="max-w-3xl mx-auto bg-white shadow-lg p-6 rounded-lg">
        {% if not reviews %}
            <p class="text-center"> There is no reviews yet.</p>
        {% else %}
        {% for review in reviews %}
            <div class="border-b border-gray-300 py-6 flex space-x-4">
                <!-- Bagian kiri untuk avatar -->
                <div>
                    <img class="w-12 h-12 rounded-full object-cover" src="{{ review.user.buyerprofile.profile_picture }}" alt="{{ review.user.username }}">
                </div>
                <!-- Bagian kanan untuk informasi review -->
                <div class="flex-1">
                    <div class="flex justify-between items-center">
                        <h2 class="text-lg font-semibold text-red-600">{{ review.user.username }}</h2>
                        <span class="text-sm text-gray-500">{{ review.time|date:"F j, Y, g:i a" }}</span>
                    </div>
                    <p class="mt-1 text-sm text-gray-600">{{ review.user.buyerprofile.nationality }}</p>
                    <p class="mt-2 text-gray-700">{{ review.review_text }}</p>
                    <!-- Button edit hanya muncul jika review dibuat oleh user yang sedang login -->
                    {% if review.user == request.user %}
                        <div class="flex gap-2 justify-end">
                            <div class="mt-4 text-right">
                                <a href="{% url 'review:edit_review' review.id %}" class="text-sm text-blue-600 hover:underline">
                                    Edit
                                </a>
                            </div>
                            <div class="mt-4 text-right">
                                <a href="{% url 'review:delete_review' review.id %}" class="text-sm text-red-600 hover:underline">
                                    Delete
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% include 'footer_buyer.html' %}
{% endblock content %}